@import url('https://fonts.googleapis.com/css?family=Exo|Staatliches');

body{
	width: 100%;
	background-image: url('bg.jpg');
	background-attachment: fixed!important;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	color: white;
	font-family: 'Exo', sans-serif;
	padding-top: 3rem;
}

.bg-light1 {
    background-color: #e8a8a4!important;
}

.nav-link{
	font-size: 1.3rem;
	color: white!important;
	padding-right: 2rem!important;
}

.nav-link:hover{
	color: black!important;
}

.logo{
	margin:1rem;
	border: solid #cd7d79 2px;
	border-radius: 30px;
}

.display-3{
	text-shadow: 2px 2px 2px black;
	background-color: #cd7d7966;
	text-align: center;
	
}

.display-4{
	text-shadow: 2px 2px 2px gray;
}

.lead{
	border: solid 1px white;
	padding: 1rem;
	color: white;
	background-color: #00000038;
}

h3{
	color:gray;
}
.btn{
	padding: 1rem;
	background-color: #cd7d79;
}

.padding{
	padding: 2rem;
}

.carousel{
	width: 70%;
	left: 15%;
	border: #e8a8a4ad solid 5px;
}

.pic{
	width: 30rem;
	padding: 1rem;
}


.header-2{
	background-color: #cd7d7966;
	padding: 1rem;
}

.icon{
	margin: 2rem;
	font-size: 5rem;
	color: #cd7d79;
}

.icon:hover{
	color: #cd7d55;
}

.card{
	padding: 1rem;
	margin: 1rem;
	color: black;
}

footer{
	color: black;
	padding: 1rem;
}

/*---Media Queries --*/
@media (max-width: 992px) {
    Background-size: cover;


  }
@media (max-width: 768px) {


}
@media (max-width: 576px) {
  
}
